<!DOCTYPE html>
<!-- Esto es un comentario...  -->
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <nav>
                <a class="logo nav-link" href="/">TechShop</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a class="nav-link menu-item" href="/ejemplo2">Mis Autos</a></li>
                    <li class="nav-menu-item"><a class="nav-link menu-item" href="/multimedia">Multimedia</a></li>
                    <li class="nav-menu-item"><a class="nav-link menu-item" href="/iframes">iFrames</a></li>
                </ul>
            </nav>
        </header>
        <aside>
            <h1>iFrames</h1>
            <p>Uso de iFrames dentro de nuestro sitio web</p>
        </aside>
        <section>
            <h2>iFrames</h2>
            <article>
                <h3>Sitio Web Interno</h3>
                <iframe src="http://ufidelitas.ac.cr"
                    height="400"
                    width="1200">
                </iframe>
            </article>
            <article>
                <h3>YouTube</h3>
                <iframe width="1236" 
                        height="695" 
                        src="http://youtube.com" title="4bes X PWater X Jeybil - Todo el día (Video Oficial)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </article>
            <article>
                <h3>Ubícanos</h3>
                <iframe src="http://facebook.com" width="800" height="600" style="border:0;" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </article>
            
        </section>
        <footer>
            Todos los Derechos Reservados TechShop 2025 &COPY;
        </footer>
    </body>
</html>
