<!DOCTYPE html>
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header>
            <h1>iFrames</h1>
        </header>
        <aside>
            <h1>iFrames</h1>
            <p>Uso de iframes dentro de nuestro sitio web</p>
        </aside>
        <section>
            <h2>iFrames</h2>
            <article>
                <h3>Sitio Web Interno</h3>
                <iframe src="http://ufidelitas.ac.cr" height="400" width="1200">
                </iframe>
            </article>
            <article>
                <h3>YouTube</h3>
                <iframe width="1236" height="695"
                        src="https://www.youtube.com/embed/yScNIsLTLYA" title="POCOYÓ en ESPAÑOL - Juega y Bucea en la Piscina [121 min] CARICATURA">
                </iframe>
            </article>
            <article>
                <h3>Ubícanos</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15717.138115551783!2d-84.00616509999999!3d9.9933394!2m3!1f0!2f0!3f0">
                </iframe>
            </article>
        </section>
        <footer>
            Todos los Derechos Reservados TechShop 2025 &COPY;
        </footer>
    </body>
</html>
